* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}
.navigation a {
  text-decoration: none;
  color: #6b6b6b;
  border-radius: 20px;
  padding: 6px 15px;
  margin: 0 10px;
  border-color: #6b6b6b;
  font-weight: 600;
}
.navigation a:hover,
.navigation a.active {
  background-color: #6b6b6b;
  color: #fff;
}
header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 30px 100px;
  z-index: 100;
}

.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.front-text {
  position: absolute;
  color: #f3f3f3;
  font-size: 5em;
  text-shadow: 1px 1px 2px #f3f3f3;
  z-index: 1;
}
.welcome img {
  position: absolute;
  width: 100%;
  pointer-events: none;
  filter: grayscale(100%);
}
#car-left,
#car-right {
  width: 20%;
  top: 60%;
  z-index: 2;
}
#car-left {
  right: 25%;
}
#car-right {
  left: 31%;
}
#road-middle {
  top: 50%;
  z-index: 1;
}
#Tree-right,
#Tree-left {
  width: 42%;
}
#Tree-right {
  margin-left: 1300px;
}
#Tree-left {
  margin-right: 1300px;
}
#mountain {
  z-index: -1;
  width: 110%;
  margin-bottom: 400px;
}
#buildings-2 {
  width: 60%;
}
.section-2 {
  position: relative;
  padding: 100px;
  margin-top: 300px;
  z-index: 100;
  background-color: #6b6b6b;
}
.section-2 {
  color: #f3f3f3;
  display: flex;
  filter: grayscale(100%);
  justify-content: center;
}
.flex-container {
  display: flex;
  background-color: #000000;
  width: 65%;
}
.GradPic {
  width: 50%;

  background-color: white;
}
.Info {
  margin-left: 50px;
  margin-top: 50px;
}
